* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Source Code Pro';
}
h1 {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: 2;
  color: #222;
  font-size: 8vw;
  text-align: center;
}
canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

